/** {*/
/*    box-sizing: border-box;*/
/*    !*marker: none !important;*!*/
/*}*/
/*nav {*/
/*    background: saddlebrown;*/
/*}*/
/*.flex-row {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/
/*.flex-column {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 100%;*/
/*}*/
/*li {*/
/*    width: 150px;*/
/*    margin: auto;*/
/*    padding: 0;*/
/*    !*marker: none;*!*/
/*}*/
/*ul {*/
/*    width: 150px;*/
/*    !*marker: none;*!*/
/*}*/
/*a {*/
/*    text-decoration: none;*/
/*    font-size: 20px;*/
/*    color: white;*/
/*    !*marker: none;*!*/
/*}*/

/* Вариант 2 */
* {
    text-align: center;
}
.grid-right {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1200px;
}
li:nth-child(1) {
    grid-column: 1 / 2;
}
li:nth-child(2) {
    grid-column: 2 / 3;
}
.grid-down {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
}
.grid-down li:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
}
.grid-down li:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
}
li {
    list-style-type: none;
}
.col1 {
    width: 150px;
    background: saddlebrown;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 0 115px;
    margin: 0 auto;
    border-bottom: 2px saddlebrown solid;
}
.col2 {
    width: 150px;
    background: saddlebrown;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 0 93px;
    margin: 0 auto;
    border-bottom: 2px saddlebrown solid;
}
.col3 {
    width: 150px;
    background: saddlebrown;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 0 80px;
    margin: 0 auto;
    border-bottom: 2px saddlebrown solid;
}
.brown {
    background: saddlebrown !important;
    border-bottom: 2px saddlebrown solid;
}
.border-white {
    border-top: 2px white solid;
}
